{% extends "template_base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lista_materias.css' %}">
{% endblock %}
{% block title %} Lista de Materias {% endblock %}


{% block content %}
<div class="tituloPrincipalMaterias">MATERIAS</div>
    <section class="SeccionIfts">
        <h1>Lista de Materias</h1>
        <div class="ifts">

        {% for materia in materias %}

            <div>
                <div class="tarjetaIfts">
                    <h2>{{ materia.nombre }}</h2>
                    <p>Pertenece a {{materia.carrera}} </p>
                    <div class="puntaje">
                        <img src="{% static 'imagenes/Iconos/estrella.png' %}" alt="">
                        <div>
                            <p class="Qualification">X/5</p>
                        </div>
                    </div>
                    <div class="divBotonesTarjeta">
                        <a href="{% url 'profesores_materia' materia_id=materia.id %}"><button id="btnIftsProfesores">Profesores</button></a>
                        <a href="{% url 'opiniones_por_entidad' model_name='materia' entity_id=materia.id %}"><button id="btnIftsOpiniones">Opiniones</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </section>

{% endblock %}