{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/userHome.css' %}">
    <script>const GOOGLE_API_KEY = '{{ GOOGLE_API_KEY }}'; </script>
{% endblock %}

{% block title %}Home {% endblock %}
{% block content %}

<div class="containers">
  <div class="divNoticiasOpiniones">
    <div class="divNoticias">
      <div class="noticiasTitulo">Noticias</div>
      <div class="noticiasContenido">
        <div class="marcador" id="lft-btn">🠔</div>
        
        <div class="noticia1">
          <img src="{% static 'imagenes/Noticias/ArgentinaPrograma.PNG' %}" alt="ArgentinaPrograma 4.0">
          <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><button type="button" class="buttonNoticia1">SABER MAS</button></a>
        </div>
        
        <div class="marcador" id="rgt-btn">🠖</div>
      </div>
    </div>
    <div class="containerOpiniones">

      <div class="containers-btn">
        <button class="tab-button" data-target="opiniones">Opiniones Recientes</button>
      </div>

      <section id="opiniones" class="divOpinionesRecientes seccion">
        
        {% for opinion in opiniones %}
        <div class="tarjetaOpinion">               
            <div class="imgOpinion"><img alt="perfil" src="{{ opinion.autor.img_perfil.url }}" ></div>
            <div class="divTituloyopinion">
              <div class="textosOpinion" >
                
               <div class="opinionTitulo">
                <p>{{ opinion.titulo }}</p>
               </div> 
              
                 
               <div class="puntaje">
                 <p class="Qualification"> {{ opinion.calificacion }}</p>
                <img src="{% static 'imagenes/Iconos/estrella.png' %}" alt="" style="height: 50px; width: 50px;">
               </div>
                

                <p>{{ opinion.fecha }}</p>                        
              </div>
              <div class="parrafoOpinion" >
                <p>{{ opinion.contenido }}</p>
              </div>
            </div>
        </div>
        {% endfor %}

    
    </section>
  </div>

  </div>
    <section class="seccionLinksUtiles">
      <div class="linkUtil"><a href="https://guarani-autogestionagencia.bue.edu.ar/acceso/login?ref=https://guarani-autogestionagencia.bue.edu.ar/solicitudes/nueva_solicitud">SIU</a></div>
      <div class="linkUtil"><a href="https://www.anses.gob.ar/consultas/constancia-de-cuil">CUIL</a></div>
      <div class="linkUtil"><a href="https://www.argentina.gob.ar/educacion/progresar">BECAS</a></div>
    </section>
    

        <!-- ################################### MAPA ######################################## -->
    <section id="localizaciones" class="divLocalizaciones seccion">
        <div>
          <button class="tab-button" data-target="localizaciones">Localizaciones</button>
        </div>

        <div class="listaYmapa">
          <!-- Lista de botones para cada IFTS -->
          <ul class="lista">
            {% for ifts in instituciones %}
              <li><button title="btn-coordenadas" class="iftsBtn" type="button" onclick="setLocation('{{ ifts.coordenadas }}')">{{ ifts.nombre }}</button></li>
            {% endfor %}
          </ul>
          
          <div class="mapa">            
            <iframe       
            id="gmap" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5305788603177!2d-58.41747462264993!3d-34.59074255681599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca80e7682f0b%3A0xfbb9dca0f5c7f76c!2sI.F.T.S.%20N%C2%B0%2018!5e0!3m2!1ses!2sar!4v1713757667178!5m2!1ses!2sar"  
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade" 
            title="GMAPS">
            </iframe>
          </div>
        
        </div>    
    </section>

</div>
<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
