{% extends "template_base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/opinion.css' %}">
{% endblock %}

{% block title %}Opinión Histórica de {{ model_name|capfirst }}{% endblock %}

{% block content %}
<div class="opiniones-historicas">
    <h1>Opiniones Históricas sobre {{ object_instance.nombre }}</h1>

    <section class="seccion-tabla-opinion">
        <table class="tabla-opiniones">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Opinión</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                {% for opinion in opiniones %}
                <tr>
                    <td>{{ opinion.autor }}</td>
                    <td>{{ opinion.contenido }}</td>
                    <td>{{ opinion.calificacion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if opinion.has_next %}
            <div id="loadMore" style="cursor: pointer; text-align: center;">Cargar más...</div>
        {% endif %}
    </section>


    <section>
        <div class="seccion-opinion-usuario">
            <form method="post" action="{% url 'opiniones_por_entidad' model_name=model_name entity_id=entity_id %}">
                {% csrf_token %}
                <div class="opinion-usuario">
                <div class="titulo-y-Box">
                    <label>Título</label>
                    <input title="titulo" name="titulo" type="text" class="input-tit"/>

                    <label>Escribe tu opinión</label>
                    <input title="contenido" name="contenido" type="text" class="opinion-box"/>
                </div>

                <div class="calificacion-y-submit">
                    <div>
                        <label>Califica</label>
                        <input title="calificacion" name="calificacion" type="number" class="calificacion-star" />
                    </div>
                    <button type="submit">Enviar</button>
                </div>
                </div>
            </form>

            
                
                
        </div>
    </section>
</div>
{% endblock content %}
