{% extends 'pwd_base.html' %}
{% load static %}
{% block title %}Notificacion de restablecer contraseña{% endblock %}

{% block content %}

  <div class="form-container">
    <div class="loginCardFondo">
      <div class="card" id="loginCard">
          <h2>Confirmación de restablecimiento de contraseña</h2>
          <p>Le hemos enviado por correo electrónico instrucciones para configurar su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de spam o no deseados.</p>
      </div>
    </div>

  </div> 
{% endblock %}