{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'registro.css' %}">
</head>

<body>
    <form id="registerForm2" method="post" action="/auth/register/step2">
    {% csrf_token %}
    <div class="registroDiv">

        <div class="tarjetaRegistro">
            <h2>Registro</h2>
            <label>Nombre De Usuario</label>
            <input type="text" placeholder="Juan">
            <div class="listaIFTS">
            <label for="opciones">A qué IFTS pertenece:</label>

            <select id="opciones" name="opciones">
                {% for ifts in instituciones %}
                    <option value="{{ ifts.nombre }}">{{ ifts.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="genero">
        <label for="genero">Género:</label>
            <div id="genero">
                <label for="masculino">Masculino</label>
                <input type="radio" id="masculino" name="genero" value="masculino">
                
                <label for="femenino">Femenino</label>
                <input type="radio" id="femenino" name="genero" value="femenino">
                
                <label for="otro">Otro</label>
                <input type="radio" id="otro" name="genero" value="otro">          
            </div>

        </div>

        <div class="cumpleanos">
            <label for="fecha_nacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
        </div>
        <button type="submit" id="registerButton">Crear Cuenta</button>
    </div>
    </form>
    
</body>
</html>